.container-fluid {
  display: flex;
  background-color: aqua;
  }
  

.navbar-brand {
border-right: 4px solid whitesmoke;
font-family: 'Times New Roman', Times, serif;
font-size: 36px;
}

b {
  color:gray;
}

li {
  display: block;
  padding: 0 20px;
  color: aqua;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  }
  
li:hover {
  transition: 1s;
  transform: scale(1.3);
}

body{
  background-color: #7ae2dd;
  background-size: cover;
}

.hello {
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
margin: 5px;
padding: 0%;
width: 100%;
} 







